<a href="https://colab.research.google.com/github/shallynagfase9/Data-Science-Masters/blob/main/Assgmt_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
"""
Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
"""
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sort_val = sorted(l, key=lambda x: x[1])
for i in sort_val:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [12]:
# Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda c: c**2,l)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
"""
Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
"""
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(tuple(list(map(lambda x: str(x),l))))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [28]:
# Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.
from functools import reduce
n = list(range(1, 26))
m = lambda x, y: x * y
p = reduce(m, n)
print("The product of numbers from 1 to 25 is:", p)

The product of numbers from 1 to 25 is: 15511210043330985984000000

In [30]:
# Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
c = print(list(filter(lambda a: a%2==0 & a%3==0,l)))

[2, 6, 60, 90, 120, 46]

In [37]:
# Write a python program to find palindromes in the given list of strings using lambda and filter function.
# ['python', 'php', 'aba', 'radar', 'level']
s = ['python', 'php', 'aba', 'radar', 'level']
print(list(filter(lambda c: c==c[::-1],s)))

['php', 'aba', 'radar', 'level']