<a href="https://colab.research.google.com/github/shallynagfase9/Data-Science-Masters/blob/main/DS_assgmt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# String
string="Shally"
print("The string is:",string)

The string is: Shally

In [2]:
# List
list=["shally",1,2,3,4,4.6,4+9j]
print("The list is",list)
for i in list:
  print(i)

The list is ['shally', 1, 2, 3, 4, 4.6, (4+9j)]
shally
1
2
3
4
4.6
(4+9j)

In [3]:
# Float
a = 4.5
print(a)
print(type(a))

4.5
<class 'float'>

In [4]:
# Tuple
t=(12,34,54,23,"a","b")
print(t)
print(type(t))

(12, 34, 54, 23, 'a', 'b')
<class 'tuple'>

In [5]:
# Find the type of the variable
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [6]:
# / (Division Operator) Displays Quotient
a=10
b=2
c=a/b
print(c)

5.0

In [7]:
# % (Module Operator) Displays Remainder
a=10
b=2
c=a%b
print(c)

0

In [8]:
# // (Floor Division used for Integer Dvision)
a=15
b=3
c=a//b
print(c)

5

In [9]:
# **(Power Operator)
a=10
b=3
c=a**b
print(c)

1000

In [10]:
# Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
list=[1,2,3.5,4,5,"shally",4+7j,6,7,8]
for i in list:
  print(i)
  print(type(i))

1
<class 'int'>
2
<class 'int'>
3.5
<class 'float'>
4
<class 'int'>
5
<class 'int'>
shally
<class 'str'>
(4+7j)
<class 'complex'>
6
<class 'int'>
7
<class 'int'>
8
<class 'int'>

In [11]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

# Initialize a counter to keep track of divisions
count = 0

while A >= B:
    A = A - B  # Subtract B from A
    count += 1  # Increment the counter

if count > 0:
    print(f"{B} is divisible by {A} {count} times.")
else:
    print(f"{B} is not divisible by {A}.")

Enter the number A: 24
Enter the number B: 3
3 is divisible by 0 8 times.

In [12]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
  if(i % 3 == 0):
    print("The element is divisible by 3")
  else:
    print("The element is not divisible by 3")

The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3

In [13]:
# What do you understand about mutable and immutable data types? Give examples for both showing this property.
# Immutable data types cannot be modified
# Example of Immutable Data types
s="Shally"
y="Nagfase"
s=y
print(s)
print(y)

Nagfase
Nagfase

In [14]:
# Example of mutable Data types
# Mutable data types can be modified
list=[1,2,3,4,"shally",5,6,7,8]
print(list)
list.append(9)
print(list)
list.remove(6)
print(list)

[1, 2, 3, 4, 'shally', 5, 6, 7, 8]
[1, 2, 3, 4, 'shally', 5, 6, 7, 8, 9]
[1, 2, 3, 4, 'shally', 5, 7, 8, 9]